<!DOCTYPE html>
<html>
	<head>
		<title>Hexbubble</title>
		<% include head %>
	</head>
	<body>
		<% include header %>
		<div class='main'>
			<% include sidebar %>
			<div class='container feed'>
				<h1><%- err %></h1>
			</div>
		</div>
		<script src="/jquery.js"></script>
	</body>
</html>