<!DOCTYPE html>
<html>
	<head>
		<link href='/style.css' rel="stylesheet" type="text/css"/>
		<link href='/font-awesome.min.css' rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class='logo'><img src='/hexlogo.png'></div>
		<div class='header'>
			<!--<div class='headerName'>HexBubble</div>-->
			<input id='search' class='search' placeholder="Search">
		</div>
		<div class='main'>
			<div class='sidebar'>
				<ul>
					<li class='elem active'><i class="fa fa-user" aria-hidden="true"></i></li>
					<li class='elem'><i class="fa fa-user" aria-hidden="true"></i></li>
				</ul>
			</div>
			<div class='container'>
				<br>
				<div class='newPost'>
					<textarea id='post' placeholder='Say something!'></textarea>
					<div class='button' onclick="newPost()">Post!</div>
				</div>
				<br>
				<br>
					<div id='posts'>
						<!-- POSTS GO HERE -->
					</div>
			</div>
		</div>
		<script src="/jquery.js"></script>
		<script src='/moment.js'></script>
		<script>
			var me = JSON.parse('<%- me %>');
			var bubbleId = <%- bubbleId %>;
			var postsNum = 0;
			var commentsSkip = [];

			$(document).ready(function() {
			    posts = JSON.parse('<%- (posts) %>');
			    for (i in posts) {
			    	if (posts[i].likeId != null) {
			    		addPost(posts[i].username, posts[i].dateCreated, posts[i].post, posts[i].likes, true, false, posts[i].postId, posts[i].comments);
			    	} else {
			    		addPost(posts[i].username, posts[i].dateCreated, posts[i].post, posts[i].likes, false, false, posts[i].postId, posts[i].comments);
			    	}
			    	postsNum = i;
			    }
			});

			function newPost() {
				postsNum += 1;
				var p = $("#post").val();
				$.post("/post/new",
				    {
				        token: localStorage.getItem('token'),
						post: p,
						bubbleId: bubbleId
				    },
				    function(data, status){
				        console.log(data);
				    });
				addPost(me.username, Date(), p, 1, true, postsNum, 0);
			}

			function addPost(username, date, post, likes, isLiked, newP, id, comments) {
				var heart = "";
				var heartAction = `onclick='love("${id}")'`;
				if (isLiked) {
					heart = "activeHeart";
					heartAction = "";
				}
				var postStructure = `
				<div class='post'>
					<div class='postUser'>
						<!-- <img class='postProfilePic'> -->
						<div class='postUserName'><a href='#'>${username}</a></div>
						<div class='postUserDate' title='${date}'>${moment(date).fromNow()}</div>
					</div>
					<div class='postData'>${post}</div>
					<br>
					<div class='postLikes'>
						<div>
						<div class='heart ${heart}' id='heart.${id}' ${heartAction}></div>
						<span class='likeNum'>Likes: <span id='like.${id}'>${likes}</span></span>
						</div>
						<div class='postCommentsInfo button' onclick='getComments("${id}")'>Load more comments...</div>
					</div>
					
					<div class='postComments'>
						<ul id='comments'>
						</ul>
						<input type='text' placeholder='Comment....' class='commenter' id='commenter'>
						<div class='submitComment button' onclick='addComment("${id}")'>Submit</div>
					</div>
				</div>
				<br>
				<br>`;

				if (newP) {
					$("#posts").prepend(postStructure);
				} else {
					$("#posts").append(postStructure);
				}
				
			}

			function getComments(id) {
				$.post("/post/comments",
				    {
				        postId: id
				    },
				    function(data, status){
				        for (comment in data) {
							insertComment(data[comment].comment, data[comment].userId + "change", data[comment].dateCreated);
						}
						console.log("check this code below for unique elements");
						commentsSkip.push({
							postId: id,
							comments: data.length
						});
				    });
			}

			function addComment(id) {
				let comment = $("#commenter").val();
				$("#commenter").val("");

				insertComment(comment, me.username, Date());	
				postComment(id, comment);			
			}

			function insertComment(comment, user, date) {
				let commentTemplate = `
				<li class='comment'>
					<span class='commentUser'><a href='#'>${user}</a></span>
					<span class='commentTime' title='${date}'>${moment(date).fromNow()}</span>
					<p>${comment}</p>
				</li>`;

				$("#comments").append(commentTemplate);
			}

			function postComment(postId, comment) {
				$.post("/post/comment",
				    {
						postId,
						comment
				    },
				    function(data, status){
						console.log(data);
				    });
			}

			function love(id) {
				var heart = document.getElementById("heart." + id);
				heart.className = "heart activeHeart animateHeart";
				var elem = document.getElementById("like." + id);
				curLikes = parseInt(elem.innerHTML);
				elem.innerHTML = curLikes + 1;

				$.post("/post/like",
				    {
				        postId: id
				    },
				    function(data, status){
				        if (data.success == false)  {
				        	alert("Like failed. " + data.error);
				        	console.log(data.error);
				        	elem.innerHTML = curLikes;
				        }
				    });
			}
		</script>
	</body>
</html>