<!DOCTYPE html>
<html>
	<head>
		<link href='/style.css' rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class='container'>
			<br>
			<textarea id='post' placeholder='Say something!'></textarea>
			<div class='button' onclick="newPost()">Post!</div>
			<br>
				<div id='posts'>
				
				</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script>
			var me = JSON.parse('<%- me %>');
			$(document).ready(function() {
			    posts = JSON.parse('<%- (posts) %>');
			    for (i in posts) {
			    	addPost(posts[i].username, posts[i].dateCreated, posts[i].post, false);
			    }
			});

			function newPost() {
				var p = $("#post").val();
				$.post("/post/new",
				    {
				        token: localStorage.getItem('token'),
				        post: p
				    },
				    function(data, status){
				        console.log(data);
				    });
				addPost(me.username, Date(), p, true);
			}

			function addPost(username, date, post, newP) {
				var postStructure = `
				<div class='post'>
					<div class='postUser'>
						<img class='postProfilePic'>
						<div class='postUserName'>${username}</div>
						<div class='postUserDate'>${date}</div>
					</div>
					<div class='postData'>${post}</div>
					<br>
					<div class='postLikes'><div id='heart'>/div>Likes: NULL</div>
					<div class='postComments'>
						Comments: 
						<ul>
							<li>NULL</li>
						</ul>
						<input placeholder="Enter another comment...">
					</div>
				</div>
				<br><br>`;

				if (newP) {
					$("#posts").prepend(postStructure);
				} else {
					$("#posts").append(postStructure);
				}
				
			}
		</script>
	</body>
</html>