<!DOCTYPE html>
<html>
	<head>
		<title>Hexbubble</title>
		<% include head %>
	</head>
	<body>
		<% include header %>
		<div class='main'>
			<% include sidebar %>
			<div class='container feed'>
				<br>
				<div class='newPost shadow'>
					<form id='postForm'>
						<textarea id='post' placeholder='Say something!'></textarea>
						<input type="file" id='postPicture' name='postPicture'>
						<label for="postPicture"><div class='button'>Attach Image</div></label>
						<br/>
						<div class='postPicturePreview' id='postPicturePreview'></div>
						<div class='button' onclick="newPost()">Post!</div>
						<h6 id='postUploading'></h6>
					</form>
				</div>
				<br>
				<br>
					<div id='posts'>
						<!-- POSTS GO HERE -->
					</div>
					<div class='button' onclick="runPreload()" id='loadmorebutton'>Load More</div>
					<br/>
					<br/>
					<br/>
			</div>
		</div>
		<script src="/jquery.js"></script>
		<script src='/moment.js'></script>
		<script src="/load-image.js"></script>
		<script src="/jq-progress.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var me = JSON.parse('<%- me %>');
			var bubbleId = <%- bubbleId %>;
			var posts = JSON.parse('<%- (posts) %>');
		</script>
		<script src='/js/showdown.js'></script>
		<script src='/js/feed.js'></script>
	</body>
</html>