<!DOCTYPE html>
<html>
	<head>
		<link href='/style.css' rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class='container'>
			<textarea id='post' placeholder='Say something!'></textarea>
			<div class='button' onclick="newPost()">Post!</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class='post'>
				<div class='postUser'>
					<img class='postProfilePic'>
					<div class='postUserName'>Masud</div>
					<div class='postUserDate'>10/10/10</div>
				</div>
				<div class='postData'>askfhasfksj</div>
				<div class='postLikes'>10</div>
				<div class='postComments'>
					<ul>
						<li>Comment</li>
						<li>Comment</li>
					</ul>
					<input placeholder="Enter another comment...">
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script>
			function newPost() {
				$.post("/post/new",
				    {
				        token: localStorage.getItem('token'),
				        post: $("#post").val()
				    },
				    function(data, status){
				        console.log(data);
				    });
			}
		</script>
	</body>
</html>