<!DOCTYPE html>
<html>
	<head>
		<link href='/style.css' rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class='container'>
			<br>
			<textarea id='post' placeholder='Say something!'></textarea>
			<div class='button' onclick="newPost()">Post!</div>
			<br>
			<br>
			<% for(i in (posts)) { %>
				<div class='post'>
					<div class='postUser'>
						<img class='postProfilePic'>
						<div class='postUserName'><%- posts[i].username %></div>
						<div class='postUserDate'><%- posts[i].dateCreated %></div>
					</div>
					<div class='postData'><%- posts[i].post %></div>
					<br>
					<div class='postLikes'>Likes: NULL</div>
					<div class='postComments'>
						Comments: 
						<ul>
							<li>NULL</li>
						</ul>
						<input placeholder="Enter another comment...">
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
			<% } %>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script>
			//console.log(JSON.parse('<%- (posts) %>')); on server: JSON.stringify(results)
			function newPost() {
				$.post("/post/new",
				    {
				        token: localStorage.getItem('token'),
				        post: $("#post").val()
				    },
				    function(data, status){
				        console.log(data);
				    });
			}
		</script>
	</body>
</html>