<a href='/'><div class='logo'><img src='/hexlogo.png'></div></a>
<div class='header'>
    <!--<div class='headerName'>HexBubble</div>-->
    <input id='search' class='search' placeholder="Search">
</div>