<!DOCTYPE html>
<html>
    <head>
        <title>Hexbubble</title>
        <% include head %>
    </head>
    <body>
        <div class='container'>
                <div id="typed-strings" class='homepageTitle'>
                    <h1 class='homepageTitle'>Hexbubble.</h1>
                </div>
                <span id="typed"></span>
                <br>
                <div class='button shadow' onclick="window.location.href = '/signup'">Or Signup</div>
            </div>
        <!--<div id="particles-js"></div>-->
        <script src='/js/jquery.js'></script>
        <script src='/js/particleslib.js'></script>
        <script src='/js/particles.js'></script>
        <script src='/js/typed.js'></script>
        <script>
            var typed = new Typed("#typed", {
                stringsElement: '#typed-strings',
                typeSpeed: 50,
                backSpeed: 0,
                backDelay: 500,
                startDelay: 1000,
                loop: false,
            });
        </script>
    </body>
</html>