<!DOCTYPE html>
<html>
    <head>
        <title>Hexbubble</title>
    </head>
    <body>
        <div class='homepage'>
            <h1>Your own private social network</h1>
            <h2>Independent, isolated groups.</h2>
            <a href="/login">Login</a>
        </div>
    </body>
</html>