<!DOCTYPE html>
<html>
    <head>
        <title>Hexbubble</title>
        <% include head %>
    </head>
    <body>
        <div class='containerHomepage'>
                <div id="typed-strings" class='homepageTitle'>
                    <h1 class='homepageTitle'>Hexbubble.</h1>
                </div>
                <span id="typed"></span>
                <br/>
                <div id="typed-strings-little">
                    <p>Your own private social network.</p>
                    <p>Independent, isolated groups.</p>
                </div>
                <span id="typedlittle"></span>
                <div class='homepageContainer'>
                    <a href='/login' class='noDecorate'>
                        <div class='homepageLogin'>
                            <div class="textLogin">Login</div>
                            <div>➔</div>
                        </div>
                    </a>
                    <br/>
                    <br/>
                    <a href='/signup' class='noDecorate'>
                        <div class='homepageLogin'>
                            <div class="textLogin">Signup</div>
                            <div>➔</div>
                        </div>
                    </a>
                </div>
            </div>
        <div id="particles-js"></div>
        <script src='/js/jquery.js'></script>
        <script src='/js/typed.js'></script>
        <script>
            var typed = new Typed("#typed", {
                stringsElement: '#typed-strings',
                typeSpeed: 50,
                backSpeed: 0,
                backDelay: 500,
                startDelay: 100,
                loop: false,
            });

            var typedlittle = new Typed("#typedlittle", {
                stringsElement: '#typed-strings-little',
                typeSpeed: 30,
                backSpeed: 0,
                backDelay: 500,
                showCursor: false,
                startDelay: 1200,
                loop: false,
            });

            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            var head = document.getElementsByTagName('head')[0];
            var js = document.createElement("script");
            var js2 = document.createElement("script");
            if (getUrlParameter('particles') == "true") {
                js.src = "js/particles.js";
                js2.src = "js/particleslib.js";
                head.appendChild(js);
                //head.appendChild(js2);
            }
        </script>
    </body>
</html>