<!DOCTYPE html>
<html>
    <head>
        <title>Hexbubble</title>
        <% include head %>
    </head>
    <body>
        <div class='containerHomepage'>
                <div id="typed-strings" class='homepageTitle'>
                    <h1 class='homepageTitle'>Hexbubble.</h1>
                </div>
                <span id="typed"></span>
                <br/>
                <div id="typed-strings-little">
                    <p>Your own private social network.</p>
                    <p>Independent, isolated groups.</p>
                </div>
                <span id="typedlittle"></span>
                <div class='homepageContainer'>
                    <a href='/login' class='noDecorate'>
                        <div class='homepageLogin'>
                            <div class="textLogin">Login</div>
                            <div>➔</div>
                        </div>
                    </a>
                    <br/>
                    <br/>
                    <a href='/signup' class='noDecorate'>
                        <div class='homepageLogin'>
                            <div class="textLogin">Signup</div>
                            <div>➔</div>
                        </div>
                    </a>
                </div>
            </div>
        <div id="particles-js"></div>
        <script src='/js/jquery.js'></script>
        <script src='/js/typed.js'></script>
        <script src='/js/particlesloader.js'></script>
        <script>
            //these are options for the typing animation
            //they include things like how fast to type and whether to loop
            var typed = new Typed("#typed", {
                stringsElement: '#typed-strings',
                typeSpeed: 50,
                backSpeed: 0,
                backDelay: 500,
                startDelay: 100,
                loop: false,
            });

            var typedlittle = new Typed("#typedlittle", {
                stringsElement: '#typed-strings-little',
                typeSpeed: 30,
                backSpeed: 0,
                backDelay: 500,
                showCursor: false,
                startDelay: 1200,
                loop: false,
            });
        </script>
    </body>
</html>