<!DOCTYPE html>
<html>
    <head>
        <title>Hexbubble</title>
        <% include head %>
    </head>
    <body>
        <div class='container'>
                <div class='login shadow'>
                    <h1 class='homepageTitle'>Hexbubble</h1>
                    <input placeholder="Email" type="email" id='email'><br>
                    <input placeholder="Password" type="password" id='password'><br>
                    <div class='button' onclick="login()">Login</div>
                </div>
                <br>
                <div class='button shadow' onclick="window.location.href = '/signup'">Or Signup</div>
            </div>
        <!--<div id="particles-js"></div>-->
        <script src='/js/particleslib.js'></script>
        <script src='/js/particles.js'></script>
    </body>
</html>