<!DOCTYPE html>
<html>
    <head>
        <title>Hexbubble</title>
        <% include head %>
    </head>
    <body>
        <div class='homepage'>
            <h1>Your own private social network</h1>
            <h2>Independent, isolated groups.</h2>
            <a href="/login">Login</a>
            <br/>
            <img style="max-height: 70vh" src="/deano.jpg"/>
        </div>
    </body>
</html>