<!DOCTYPE html>
<html>
	<head>
		<title>Hexbubble Login</title>
		<% include head %>
	</head>
	<body>
		<div class='container'>
			<div class='login shadow'>
				<h1>Login</h1>
				<input placeholder="Email" type="email" id='email'><br>
				<input placeholder="Password" type="password" id='password'><br>
				<div class='button' onclick="login()">Login</div>
			</div>
			<br>
			<div class='button shadow' onclick="window.location.href = '/signup'">Or Signup</div>
		</div>
		<script src="/jquery.js"></script>
		<script>
			function login() {
				$.post("/login",
				    {
				        email: $("#email").val(),
				        password: $("#password").val()
				    },
				    function(data, status){
				    	localStorage.setItem('token', data.token);
				        if (data.success == true) {
				        	window.location = '/feed';
				        } else {
				        	alert("Login failed.");
				        }
				    });
			}
		</script>
	</body>
</html>