<!DOCTYPE html>
<html>
	<head>
		<title>Hexbubble Login</title>
		<% include head %>
	</head>
	<body class='blueBack'>
		<div class='container'>
			<div class='login'>
				<div class='logininfo'>
					<div>
						<h1>Login to <span class='pink'>Hexbubble</span></h1>
						
						<div class="field">
							<label class="field__label" for="input-email">Email address</label>
							<input class="field__input one-column-form__input--text" id="email" type="email" placeholder="Email address">
						</div>

						<div class="field">
							<label class="field__label" for="input-email">Password</label>
							<input class="field__input one-column-form__input--text" id="password" type="password" placeholder="Password">
						</div>
							  
						<div class='loginButs'>
							<div class='button loginBut' onclick="login()">Login</div>
							<div class='button loginBut' onclick="window.location.href = '/signup'">Signup</div>
						</div>
					</div>
					<div></div>
				</div>
			</div>
			<br>
		</div>
		<div id="particles-js"></div>
		<script src="/jquery.js"></script>
		<script src='/js/particlesloader.js'></script>
		<script>
			$(document).keypress(function(e) {
				if(e.which == 13) {
					login();
				}
			});
			
			function login() {
				$.post("/login",
				    {
				        email: $("#email").val(),
				        password: $("#password").val()
				    },
				    function(data, status){
				    	localStorage.setItem('token', data.token);
				        if (data.success == true) {
				        	window.location = '/feed';
				        } else {
				        	alert(data.error);
				        }
				    });
			}

			$('.field__input').on('input', function() {
				var $field = $(this).closest('.field');
				if (this.value) {
					$field.addClass('field--not-empty');
				} else {
					$field.removeClass('field--not-empty');
				}
			});
		</script>
	</body>
</html>