<!DOCTYPE html>
<html>
	<head>
		<link href='/style.css' rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class='container'>
			<div class='login'>
				<h1>Login</h1>
				<input placeholder="Email" type="email"><br>
				<input placeholder="Password" type="password"><br>
				<div class='button' onclick="login()">Login</div>
			</div>
		</div>

		<script>
			function login() {
				window.location = '/';
			}
		</script>
	</body>
</html>