<!DOCTYPE html>
<html>
	<head>
		<title>Hexbubble</title>
		<% include head %>
	</head>
	<body>
		<% include header %>
		<div class='main'>
			<% include sidebar %>
			<div class='container feed'>
                <br/>
                    <h1>Password: </h1>
                    <h5><i>Leave this box empty if you would like no password</i></h5>
                    <input type="password" placeholder="Old Password" class="newbubble" id="password0">
                    <br/>
                    <input type="password" placeholder="New Password" class="newbubble" id="password1">
                    <br/>
                    <input type="password" placeholder="Retype Password" class="newbubble" id="password2">
                    <br/>
                    <div class='submitComment button' onclick="changePassword()">Change</div>

                    <br/><br/><br/><br/>

                    <h1>Kick all members: </h1>
                    <div class='submitComment button' onclick="kickMembers()">Kick All Members</div>
			</div>
		</div>
		<script src="/jquery.js"></script>
		<script src='/moment.js'></script>
		<script>
            var bubbleId = <%- bubbleId %>;

            function changePassword() {
                oldPass = $("#password0").val();
                pass1 = $("#password1").val();
                pass2 = $("#password2").val();

                if (pass2 != pass1) {
                    alert('Passwords do not match');
                } else {
                    $.post("/manage/changePassword",
                    {
                        bubbleId: bubbleId,
                        password: pass1,
                        oldPassword: oldPass
                    },
                    function(data, status){
                        if (data.error) {
                            alert(data.error);
                        }
                    });
                }
            }

            function kickMembers() {
                oldPass = prompt("Old Bubble password:") //finish this server side :)
                //add a members list thing to admin panel
                //add a way of favouriting posts and sort them via merge sort client side?
            }
		</script>
	</body>
</html>