<!DOCTYPE html>
<html>
	<head>
		<title>Hexbubble</title>
		<% include head %>
	</head>
	<body>
		<% include header %>
		<div class='main'>
			<% include sidebar %>
			<div class='container feed'>
                <br/>
                    <h1>Password: </h1>
                    <h5><i>Leave this box empty if you would like no password</i></h5>
                    <input type="password" placeholder="Old Password" class="newbubble" id="password0">
                    <br/>
                    <input type="password" placeholder="New Password" class="newbubble" id="password1">
                    <br/>
                    <input type="password" placeholder="Retype Password" class="newbubble" id="password2">
                    <br/>
                    <div class='submitComment button' onclick="changePassword()">Change</div>
			</div>
		</div>
		<script src="/jquery.js"></script>
		<script src='/moment.js'></script>
		<script>
            var bubbleId = <%- bubbleId %>;

            //this is the change password function
            function changePassword() {
                //capture the old password, and both new passwords
                oldPass = $("#password0").val();
                pass1 = $("#password1").val();
                pass2 = $("#password2").val();

                //check if the new passwords match
                if (pass2 != pass1) {
                    alert('Passwords do not match');
                } else {
                    //if they do, ajax to the /manage route and send along the ata
                    $.post("/manage/changePassword",
                    {
                        bubbleId: bubbleId,
                        password: pass1,
                        oldPassword: oldPass
                    },
                    //show confirmation about what happened
                    function(data, status){
                        if (data.error) {
                            alert(data.error);
                        } else {
                            alert('Password changed.');
                        }
                    });
                }
            }
		</script>
	</body>
</html>