<!DOCTYPE html>
<html>
    <head>
        <title>Join a new bubble</title>
        <% include head %>
    </head>
    <body>
        <% include header %>
        <div class='main'>
            <% include sidebar %>
            <div class='container'>
                <br>
                <h1>Join a new bubble: </h1>
                <input placeholder="Bubble name" class='newbubble' id='bubbleName'>
                <br/>
                <input type="password" placeholder="Password (leave blank if no password)" class='newbubble' id='bubblePassword'>
                <div class='button' onclick='joinBubble()'>Join</div>
                <br>
                <br>
                <br>
                <br>
                <h1>Create a new bubble: </h1>
                <form id='newBubble'>
                    <input placeholder="Bubble name" class='newbubble' id='bubbleNameNew' name='bubbleName'>
                    <br>
                    <textarea placeholder="Bubble Description..." class='newbubble' name='bubbleDesc'></textarea>
                    <br>
                    <div class='bubblePictureInfo'>
                        <h4>Bubble Picture:</h4>
                        <input type="file" id='bubblePicture' name='bubblePicture'>
                    </div>
                </form>
                <div class='bubblePicturePreview' id='preview'></div>
                <h6 id='picUploading'></h6>
                <div class='button' onclick='createBubble()'>Create</div>
            </div>
        </div>
        <script src="/jquery.js"></script>
        <script src='/moment.js'></script>
        <script src="/load-image.js"></script>
        <script src="/jq-progress.js"></script>
        <script>
            //for the icon - set it a different colour
            $("#newIcon").addClass("active");

            //join bubble function
            function joinBubble() {
                //ajax to the join bubble route and send along the name and password for the bubble
                $.post("/bubble/join",
                {
                    name: $('#bubbleName').val(),
                    password: $('#bubblePassword').val()
                },
                //if they're correct, redirect to the new feed otherwise show an error
                function(data, status){
                    if (data.success) {
                        window.location.href = "/feed/" + data.feedId;
                    } else {
                        if (data.error) {
                            alert(data.error);
                        }
                    }
                });
            }

            //load the images in that were selected through the input element
            document.getElementById('bubblePicture').onchange = function (e) {
                loadImage(e.target.files[0], function (img) {
                        $("#preview").html(img);
                    }, { // Options
                        maxWidth: 150,
                        maxHeight: 150
                    } 
                );
            };

            //create a bubble function
            function createBubble() {
                //get the files from the input element
                var files = $('#bubblePicture')[0].files;
                //get the first file in the array as that is the main file
                var file = files[0];

                //verify the files and the size of them
                if (files.length < 1) {
                    alert("No files chosen to upload");
                    return false;
                }
                if (file.size > (1024 * 1024 * 2)) {
                    alert("Max total file size of 2mb reached");
                    return false;
                }

                //create some new formdata including the bubble file
                var formData = new FormData($("#newBubble")[0]);

                //ajax it to the new bubble route, sending along the data
                $.ajax({
                    url: "/bubble/new",
                    type: 'POST',
                    data: formData,
                    async: true,
                    //if the ajax returns data...
                    success: function (data) {
                        //and it is correct, redirect
                        if (data.success) {
                            window.location.href = "/feed/" + data.feedId;
                        } else {
                            //otherwise just log the error
                            console.log(data);
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                }).uploadProgress(function (e) {
                    //check if you can display the percentage complete, and if you can, display it
                    if (e.lengthComputable) {
                        var percentage = Math.round((e.loaded * 100) / e.total);
                        $("#picUploading").html("Uploading: " + percentage + "%");
                    }
                });
            }
        </script>
    </body>
</html>