<!DOCTYPE html>
<html>
    <head>
        <title>Join a new bubble</title>
        <% include head %>
    </head>
    <body>
        <% include header %>
        <div class='main'>
            <% include sidebar %>
            <div class='container'>
                <br>
                <h1>Join a new bubble: </h1>
                <input placeholder="Bubble name" class='newbubble' id='bubbleName'>
                <div class='button' onclick='joinBubble()'>Join</div>
                <br>
                <br>
                <br>
                <br>
                <h1>Create a new bubble: </h1>
                <form id='newBubble'>
                    <input placeholder="Bubble name" class='newbubble' id='bubbleNameNew'>
                    <br>
                    <textarea placeholder="Bubble Description..." class='newbubble' ></textarea>
                    <br>
                    <div class='bubblePictureInfo'>
                        <h4>Bubble Picture:</h4>
                        <input type="file" id='bubblePicture' name='bubblePicture'>
                    </div>
                </form>
                <div class='bubblePicturePreview' id='preview'></div>
                <div class='button' onclick='createBubble()'>Create</div>
            </div>
        </div>
        <script src="/jquery.js"></script>
        <script src='/moment.js'></script>
        <script src="/load-image.js"></script>
        <script>
            $("#newIcon").addClass("active");
            
            function joinBubble() {
                $.post("/bubble/join",
                {
                    name: $('#bubbleName').val()
                },
                function(data, status){
                    console.log(data);
                });
            }

            document.getElementById('bubblePicture').onchange = function (e) {
                loadImage(e.target.files[0], function (img) {
                        $("#preview").html(img);
                    }, { // Options
                        maxWidth: 150,
                        maxHeight: 150
                    } 
                );
            };

            function createBubble() {
                $.ajax({
                    type: "POST",
                    url: '/bubble/new',
                    data: $("#newBubble").serialize(), // serializes the form's elements.
                    success: function(data)
                    {
                        console.log(data); // show response from the php script.
                    }
                  });
            }
        </script>
    </body>
</html>