<!DOCTYPE html>
<html>
    <head>
        <title>Join a new bubble</title>
        <% include head %>
    </head>
    <body>
        <% include header %>
        <div class='main'>
            <% include sidebar %>
            <div class='container'>
                <br>
                <h1>Join a new bubble: </h1>
                <input placeholder="Bubble name" class='newbubble' id='bubbleName'>
                <div class='button' onclick='joinBubble()'>Join</div>
                <br>
                <br>
                <br>
                <br>
                <h1>Create a new bubble: </h1>
                <form id='newBubble'>
                    <input placeholder="Bubble name" class='newbubble' id='bubbleNameNew' name='bubbleName'>
                    <br>
                    <textarea placeholder="Bubble Description..." class='newbubble' name='bubbleDesc'></textarea>
                    <br>
                    <div class='bubblePictureInfo'>
                        <h4>Bubble Picture:</h4>
                        <input type="file" id='bubblePicture' name='bubblePicture'>
                    </div>
                </form>
                <div class='bubblePicturePreview' id='preview'></div>
                <h6 id='picUploading'></h6>
                <div class='button' onclick='createBubble()'>Create</div>
            </div>
        </div>
        <script src="/jquery.js"></script>
        <script src='/moment.js'></script>
        <script src="/load-image.js"></script>
        <script src="/jq-progress.js"></script>
        <script>
            $("#newIcon").addClass("active");
            
            function joinBubble() {
                $.post("/bubble/join",
                {
                    name: $('#bubbleName').val()
                },
                function(data, status){
                    if (data.success) {
                        window.location.href = "/feed/" + data.feedId;
                    } else {
                        console.log(data);
                    }
                });
            }

            document.getElementById('bubblePicture').onchange = function (e) {
                loadImage(e.target.files[0], function (img) {
                        $("#preview").html(img);
                    }, { // Options
                        maxWidth: 150,
                        maxHeight: 150
                    } 
                );
            };

            function createBubble() {
                var files = $('#bubblePicture')[0].files;
                var file = files[0];
                if (files.length < 1) {
                    alert("No files chosen to upload");
                    return false;
                }
                if (file.size > (1024 * 1024 * 2)) {
                    alert("Max total file size of 2mb reached");
                    return false;
                }

                var formData = new FormData($("#newBubble")[0]);
                $.ajax({
                    url: "/bubble/new",
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (data) {
                        if (data.success) {
                            window.location.href = "/feed/" + data.feedId;
                        } else {
                            console.log(data);
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                }).uploadProgress(function (e) {
                    if (e.lengthComputable) {
                        var percentage = Math.round((e.loaded * 100) / e.total);
                        $("#picUploading").html("Uploading: " + percentage + "%");
                    }
                });
            }
        </script>
    </body>
</html>