<!DOCTYPE html>
<html>
    <head>
        <title>Hexbubble Recommendation Engine</title>
        <% include head %>
        <style>
            .bubble {
                background-color: red;
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }

            .size-1 {
                height: 100px;
                width: 100px;
            }

            .size-2 {
                height: 120px;
                width: 120px;
            }

            .size-3 {
                height: 140px;
                width: 140px;
            }

            .size-4 {
                height: 160px;
                width: 160px;
            }

            .size-5 {
                height: 180px;
                width: 180px;
            }
        </style>
    </head>
    <body>
        <div class='container'>

            <div class='bubble size-1'>

            </div>

            <div class='bubble size-2'>
                    
            </div>

            <div class='bubble size-3'>
                    
            </div>

            <div class='bubble size-4'>
                    
            </div>

            <div class='bubble size-5'>
                    
            </div>
        </div>
    </body>
</html>