<!DOCTYPE html>
<html>
    <head>
        <title>Hexbubble Recommendation Engine</title>
        <% include head %>
    </head>
    <body>
        <div class='container'>
            <div class='bubble size-1'>

            </div>
        </div>
    </body>
</html>