<div class='sidebar'>
    <ul>
        <li class='elem' id='meIcon' onclick="window.location.href = '/me'">
            <i class="fa fa-user" aria-hidden="true"></i>
        </li>
        <li class='elem bubbleName' id='sidebarLoading'>Loading...</li>
        <li class='elem' id='newIcon' onclick="window.location.href = '/bubble/new'">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </li>
    </ul>
</div>
<script src="/jquery.js"></script>
<script src='/js/sidebar.js'></script>