<div class='sidebar'>
    <ul>
        <a href='/me'><li class='elem active'><i class="fa fa-user" aria-hidden="true"></i></li></a>
        <a href='/bubble/new'><li class='elem'><i class="fa fa-plus" aria-hidden="true"></i></li></a>
    </ul>
</div>