<div class='sidebar'>
    <ul>
        <a href='/me' class='noDecorate'><li class='elem' id='meIcon'><i class="fa fa-user" aria-hidden="true"></i></li></a>
        <li class='elem bubbleName' id='sidebarLoading'>Loading...</li>
        <a href='/bubble/new' class='noDecorate'><li class='elem' id='newIcon'><i class="fa fa-plus" aria-hidden="true"></i></li></a>
    </ul>
</div>
<script src="/jquery.js"></script>
<script>
    $.get("/me/bubbles", function(data, status){
        $('#sidebarLoading').remove()
        data = data.data;
        for (bubble in data) {
            b = data[bubble];
            $('.sidebar ul a:eq(0)').after(`
            <a href='/feed/${b.bubbleId}' class='noDecorate'>
                <li class='elem bubbleIcon' id='bubbleIcon_${b.bubbleId}'>
                    <img src='/bubblePictures/${b.bubblePicture}'>
                    <div class='bubbleName'>${b.bubbleName}</div>
                </li>
            </a>
            `);
        }
    });
</script>