<!DOCTYPE html>
<html>

<head>
    <title>Hexbubble Signup</title>
    <% include head %>
</head>

<body class='blueBack'>
    <div class='container'>
        <div class='login'>
            <div class='logininfo'>
                <div>
                    <h1>Signup to <span class='pink'>Hexbubble</span></h1>
                    
                    <div class="field">
                        <label class="field__label" for="input-email">Email address</label>
                        <input class="field__input one-column-form__input--text" id="email" type="email" placeholder="Email address">
                    </div>

                    <div class="field">
                        <label class="field__label" for="input-email">Password</label>
                        <input class="field__input one-column-form__input--text" id="password" type="password" placeholder="Password">
                    </div>

                    <div class="field">
                        <label class="field__label" for="input-email">Name</label>
                        <input class="field__input one-column-form__input--text" id="name" type="text" placeholder="Name">
                    </div>
                          
                    <div class='loginButs'>
                        <div class='button loginBut' onclick="window.location.href = '/login'">Login</div>
                        <div class='button loginBut' onclick="signup()">Signup</div>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        <br>
    </div>
    <div id="particles-js"></div>
    <script src="/jquery.js"></script>
    <script src='/js/particlesloader.js'></script>
    <script>
        //when an input is detected
        $(document).keypress(function(e) {
                //if it's the enter key...
				if(e.which == 13) {
                    //signup
					signup();
				}
            });
            
    //this is the signup function        
    function signup() {
        //post to the /signup route with the data needed
    	$.post("/signup",
    	    {
    	        name: $("#name").val(),
    	        email: $("#email").val(),
                password: $("#password").val()
    	    },
    	    function(data, status){
                //save the token to the client side
                localStorage.setItem('token', data.token);
                //if it's correct, continue on
    	        if (data.success == true) {
    	        	window.location = '/signup/2';
    	        } else {
    	        	alert(data.error);
    	        }
    	    });
    }
    </script>
</body>

</html>