<!DOCTYPE html>
<html>

<head>
    <title>Hexbubble Signup</title>
    <% include head %>
</head>

<body>
    <div class='container'>
        <div class='login shadow'>
            <h1>Signup</h1>
            <input placeholder="Email" type="email" id='email'>
            <br>
            <input placeholder="Password" type="password" id='password'>
            <br>
            <input placeholder="Name" id='name'>
            <br>
            <input placeholder="Bubble" id='bubble'>
            <br>
            <div class='button' onclick="signup()">Signup</div>
        </div>
        <br>
        <div class='button shadow' onclick="window.location.href = '/login'">Or Login</div>
    </div>
    <script src="/jquery.js"></script>
    <script>
    function signup() {
    	$.post("/signup",
    	    {
    	        name: $("#name").val(),
    	        email: $("#email").val(),
                password: $("#password").val(),
    	        bubble: $("#bubble").val()
    	    },
    	    function(data, status){
                localStorage.setItem('token', data.token);
    	        if (data.success == true) {
    	        	window.location = '/feed';
    	        } else {
    	        	alert("Error.");
    	        }
    	    });
    }
    </script>
</body>

</html>