<!DOCTYPE html>
<html>

<head>
    <title>Hexbubble Signup</title>
    <% include head %>
</head>

<body class='blueBack'>
    <div class='container'>
        <div class='login'>
            <div class='logininfo'>
                <div>
                    <h1>Configure your <span class='pink'>Hexbubble</span> account</h1>
                    
                    <form id='signup'>
                        <textarea placeholder="About me..." class='bio' name='bio'></textarea>
                        <br>
                        <div class='signupImg'>
                            <input type="file" id='profilePic' name='profilePic'>
						    <label for="profilePic"><div class='button'>Attach Profile Picture</div></label>
                        </div>
                    </form>
                    <div class='profilePicPreview' id='profilePicPreview'></div>
                    <h6 id='picUploading'></h6>
                            
                    <div class='loginButs'>
                        <div class='button loginBut' onclick="signup2()">Upload and Continue</div>
                        <div class='button loginBut' onclick="window.location.href = '/'">Or Skip</div>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        <br>
        </div>
        <div id="particles-js"></div>
    <script src="/jquery.js"></script>
    <script src="/load-image.js"></script>
    <script src="/jq-progress.js"></script>
    <script src='/js/particlesloader.js'></script>
    <script>
    document.getElementById('profilePic').onchange = function (e) {
        loadImage(e.target.files[0], function (img) {
                $("#profilePicPreview").html(img);
            }, { // Options
                maxWidth: 150,
                maxHeight: 150
            } 
        );
    };

    function signup2() {
    	var files = $('#profilePic')[0].files;
        var file = files[0];
        if (files.length < 1) {
            alert("No files chosen to upload");
            return false;
        }
        if (file.size > (1024 * 1024 * 2)) {
            alert("Max total file size of 2mb reached");
            return false;
        }

        var formData = new FormData($("#signup")[0]);
        $.ajax({
            url: "/signup/2",
            type: 'POST',
            data: formData,
            async: true,
            success: function (data) {
                if (data.success) {
                    window.location.href = "/feed";
                } else {
                    console.log(data);
                }
            },
            cache: false,
            contentType: false,
            processData: false
        }).uploadProgress(function (e) {
            if (e.lengthComputable) {
                var percentage = Math.round((e.loaded * 100) / e.total);
                $("#picUploading").html("Uploading: " + percentage + "%");
            }
        });
    }
    </script>
</body>

</html>