<!DOCTYPE html>
<html>
    <head>
        <% include head %>
        <title><%- user[0].name %></title>
    </head>
    <body>
        <% include header %>
        <div class='main'>
            <% include sidebar %>
            <div class='container'>
                <h1><%- user[0].name %></h1>
                <p><%- user[0].bio %></p>
            </div>
        </div>
        <script src="/jquery.js"></script>
		<script src='/moment.js'></script>
        <script>
            
        </script>
    </body>
</html>