<!DOCTYPE html>
<html>
    <head>
        <% include head %>
        <title><%- user[0].name %></title>
    </head>
    <body>
        <% include header %>
        <div class='main'>
            <% include sidebar %>
            <div class='container feed'>
                <h1><%- user[0].name %></h1>
                <img class='userProfilePicture' src='/profilePictures/<%- user[0].profilePicture %>'/>
                <p><%- user[0].bio %></p>
                <a href='#' onclick="logout()">Logout</a>
            </div>
        </div>
        <script src="/jquery.js"></script>
		<script src='/moment.js'></script>
        <script>
            //logout function that deletes cookies, clears any storage and redirects the user
            function logout() {
                deleteAllCookies();
                localStorage.clear();
                window.location.href = '/me/logout';
            }
            

            //a function to delete all the cookies by resetting them
            function deleteAllCookies() {
                var cookies = document.cookie.split(";");

                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i];
                    var eqPos = cookie.indexOf("=");
                    var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                    document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                }
            }
        </script>
    </body>
</html>